body {
	background-color: #e9ebee;
}

.card {
	-webkit-box-shadow: 0px 10px 12px 0px rgba(46,74,117,0.3);
	-moz-box-shadow: 0px 10px 12px 0px rgba(46,74,117,0.3);
	box-shadow: 0px 10px 12px 0px rgba(46,74,117,0.3);
}

.form {
	background-color: #f5f6f7;
	border: 1px solid #C3C7CD;
}

.added {
	background-color: green;
	outline: none;
}

.added:hover {
	background-color: green;

}

.not-added {
	background-color: #dc3545;
	outline: none;
}

.not-added:hover {
	background-color: #dc3545;

}

.add-to-basket-button:hover {
	outline: none;
}